---
layout: default
title: Home
id: home
lang: en
showAds: true
---


<div class="post">
    <h2 class="title"><a href="/about.html">About TortoiseSVN</a></h2>
    <div class="entry">
        <p>TortoiseSVN is an
        <a href="http://subversion.apache.org/">Apache<sup>&trade;</sup> Subversion (SVN)<sup>&reg;</sup></a>
        client, implemented as a Windows shell extension.
        It's intuitive and easy to use, since it doesn't
        require the Subversion command line client to run.
        And it is free to use, even in a commercial environment.
        Simply the coolest Interface to (Sub)Version Control!</p>
        <p><a href="/about.html">read more...</a></p>
    </div>
</div>

{% include adsense_inpage.html %}

{% for post in site.posts limit:1 %}
<div class="post">
    <h3>
        <a href="{{ post.url }}">{{ post.title }}</a>
    </h3>

    <p class="meta">Posted on {{ post.date | date: "%B %d, %Y" }} by {{ post.author }}</p>

    {{ post.content }}

</div>
{% endfor %}

{% for post in site.posts limit:site.news_limit offset:1 %}
<div class="post">
    <h3>
        <a href="{{ post.url }}">{{ post.title }}</a>
    </h3>

    <p class="meta">Posted on {{ post.date | date: "%B %d, %Y" }} by {{ post.author }}</p>

    {{ post.excerpt }}

</div>
{% endfor %}
